// INCLUDED LIST
!/.config/alacritty/
!/.config/awesome/
!/.bash_profile
!/.tmux.config

// ROOT FOLDERS & FILES
/.config/*
/.npm/
/Documents/
/Templates/
/.zoom/
/vim/
/.vim/
/.gnupg/
/.nv/
/Projects/
/Videos/
/.yarn/
/.pki/
/.tabnine/
/.local/
/Desktop/
/.cache/
/snap/
/neovim/
/.nvm/
/.gnome/
/.mozilla/
/.expo/
/Downloads/
/.thunderbird/
/.android/
/.adobe/
/.java/
/VSCodeProjects/
/.cargo/
/Android/
/.react-native-cli/
/.vscode/
/Postman/
/.idea/
/Public/
/AndroidStudioProjects/
/.gradle/
/Pictures/
/Music/
/.ssh/
/IdeaProjects/*
/.hyper_plugins/
/.emulator_console_auth_token
/.wget-hsts
/.gitconfig
/.bash_logout
/.ideavimrc
/.profile
/.yarnrc
/.nvidia-settings-rc
/.bashrc
/.npmrc
/.bash_history
/.sudo_as_admin_successful
/.python_history

